<div class="page-breadcrumb-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="page-breadcrumb-title">Our Services</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-section-header">Life Coaching</h2>

      <div class="divider"></div>

      <p class="page-section-subheader">
        Coaching is also a professional relationship like therapy but concentrates more on an
        individuals desire for improvement and enhancing personal performance. It is usually
        associated with sport but coaching is applicable to personal goals, various organisations
        and is adaptive within the workplace. Other specialist fields also include Business, Careers
        and Executive coaching. Mental Health and Well Being Coaching is a more recent concept and
        it is here I apply my expertise to help clients either at the point of diagnosis and/or
        during their recovery.
      </p>

      <p class="page-section-subheader">
        The process is structured, goal orientated and solution focused to enable clients to grow
        and reach their full potential. Again clients exercise their own autonomy to make decisions
        and implement change. Coaching is also a useful way to help clients improve their
        interpersonal and professional relationships. It also enables client to develop new or
        existing skills and exploit their abilities and talents. My approach is strength based and
        clients are encouraged to utilize all their available resources and empower themselves to
        move forward.
      </p>
    </div>
  </div>
</div>
