<div class="page-breadcrumb-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="page-breadcrumb-title">Our Services</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-section-header">Counselling</h2>

      <div class="divider"></div>

      <p class="page-section-subheader">
        Counselling is a professional relationship that offers clients a safe, confidential space to
        talk about their psychological, emotional or spiritual problems. This therapeutic process
        empowers the client to explore any aspect of themselves or their life history that is
        causing them mental health problems, discomfort, pain or confusion. Counselling can also
        help clients to work through any value conflicts, unresolved trauma, stress or unhealthy
        behavioural patterns and cognitive distortions.
      </p>

      <p class="page-section-subheader">
        Clients are encouraged to work collaboratively with their Therapist but their autonomy will
        remain paramount. Counselling can be challenging as it is often difficult to revisit pain or
        loss from the past or implement change in the present. However, clients can be assured that
        they will be supported by their therapist throughout the process and at a pace that suits
        them. In addition, clients can also use therapy to discover their potential and identify
        areas for personal or professional development.
      </p>
    </div>
  </div>
</div>
