<div class="page-breadcrumb-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="page-breadcrumb-title">Our Services</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-section-header">Couple Counselling</h2>

      <div class="divider"></div>

      <p class="page-section-subheader">
        Here counselling is offered from a Biblical perspective and with a Christian ethos to help
        couples to not just 'survive' within their marriage but also thrive. It is a misconception
        that only couples in crisis need to seek counselling. But many couples will also engage in
        the therapeutic process to enrich their marriage relationship and build upon their love for
        one another along with their existing strengths and spiritual attributes.
      </p>

      <p class="page-section-subheader">
        However, many Couples do struggle with problems and difficulties that can arise within any
        relationship at any time and for all sorts of complex reasons. Very often over time
        communication between the couple has somehow got polluted, become fractured or even broken
        down completely.
      </p>

      <p class="page-section-subheader">
        The therapeutic process is collaborative and can facilitate the exploration of the couple's
        issues and encourage emotional reconnection. The therapist will be objective and maintain a
        non-judgemental approach. Both individuals will be encouraged to identify their conflict
        style, dysfunctional behavioural patterns and unhealthy dialogues. But most importantly the
        couple will learn how to recognize the 'music' that keeps their 'dance' going and get
        attuned to their partners needs. Couples can also gain deeper insights and healthier
        perspectives when supported to work through any unresolved trauma, underlying insecurities
        or unmet needs. Trust and Confidence building is another important aspect of the therapy and
        Couples are encouraged to rediscover each other's values, strengths and unique qualities. It
        is hoped that as both parties practice kind responses and engage in respectful, loving
        dialogue conflicts can be resolved, harmony can be restored and hurt can be healed.
      </p>
    </div>
  </div>
</div>
