<div class="page-breadcrumb-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="page-breadcrumb-title">Our Services</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-section-header">Trauma Therapy</h2>

      <div class="divider"></div>

      <p class="page-section-subheader">
        <b>What is EMDR Therapy?</b>
      </p>

      <p class="page-section-subheader">
        EMDR stands for Eye Movement Desensitisation and Reprocessing. It is an interactive
        psychotherapy technique used to alleviate the psychological distress, symptoms and suffering
        associated with adverse life events and Traumatic memories.
      </p>

      <p class="page-section-subheader">
        EMDR was developed in the 1990’s by Francine Shapiro PhD and primarily was used to treat
        Trauma and Post Traumatic Stress Disorder (PTSD).
      </p>

      <p class="page-section-subheader">
        However, now EMDR is being used effectively to treat a wide range of Mental Health issues
        such as Addictions, Anxiety & Mood Disorders, Birth Trauma, Eating Disorders, Depression,
        Grief and Phobias. For more information about EMDR please click on the following link:
        <a href="https://emdrassociation.org.uk">https://emdrassociation.org.uk</a>.
      </p>

      <img class="trauma-image" src="./assets/images/trauma.jpeg" alt="Trauma Therapy" />
    </div>
  </div>
</div>
