<div class="page-breadcrumb-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="page-breadcrumb-title">Our Services</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-section-header">Consultations</h2>

      <div class="divider"></div>

      <p class="page-section-subheader">
        In my clinical practice I use a Holistic, Integrative, Person Centred Approach to enable me
        to work with a wide range of Mental Health issues and psychological problems. l appreciate
        for some clients the very thought of counselling can be daunting and overwhelming. I
        understand the apprehension and reservation clients may feel before contacting a Therapist.
        To help put enquiring clients at ease I like to provide as much clarity about the services I
        offer and also the therapeutic process itself. I also believe that it is essential for
        clients to establish a good rapport with the Therapist before making any commitment to
        session work.
      </p>

      <p class="page-section-subheader">
        It is for this reason that I like invite clients to meet with me face to face to discuss
        their issues and then decide if they want to engage in the Therapy; but clients are under no
        obligation to do so. However, if a client is happy to proceed l will explain the Therapeutic
        Contract to them and then conduct an initial Assessment. The client will be asked to
        complete a simple questionnaire so I can gather the relevant information about their main
        presenting issues and also clinically asses risk. I will then develop a unique treatment
        plan for addressing their current difficulties; or if appropriate decide if a referral to
        another service or Clinical Specialist is required.
      </p>
    </div>
  </div>
</div>
