<div class="page-breadcrumb-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="page-breadcrumb-title">About &amp; Useful Resources</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-section-header">About</h2>

      <div class="divider"></div>

      <p class="page-section-subheader">
        <b
          >Joanne Shiels, Fd Sc in Counselling, Adv Dip MHWBC, COSCA Cert. EMDR level 1 & 2, (Acc)
          MNCS, Reg. MBACP, Mem. EMDR Association UK & Ireland.</b
        >
      </p>

      <div class="divider"></div>

      <p class="page-section-subheader">
        My original career choice was catering and the food industry. I specialized in Bakery and
        Patisserie and eventually started my own Cake Business. At the same time I bought my first
        house and developed a passion for property restoration and managing a property portfolio.
      </p>

      <p class="page-section-subheader">
        I knew nothing about Mental Health issues until I took ill myself during my four
        pregnancies. Suffering Hyperemesis Gravidarum, Pre-Natal Depression and Post- Natal
        Depression certainly gave me an education and a whole new perspective on life. However,
        nothing could have prepared me, my husband and family for what was going to happen thirteen
        weeks after delivery of our fourth child. This time Postpartum Psychosis and Manic
        Depression came out of nowhere and ‘hit’ me and our happy home like a ‘tornado’.
      </p>

      <img
        width="300"
        style="margin-left: 50%; transform: translateX(-50%)"
        src="./assets/images/images/Mental-Health-slider-1024x683.jpg"
        alt=""
      />

      <p class="page-section-subheader">
        It was while I travelled down this very long, difficult and often lonely road to recovery
        that I met many hurdles and unusual challenges. Hospitalisation was one thing but dealing
        with Stigma after diagnosis was something else and equally traumatising. To make matters
        worse support for all of us at that time was non - existent.
      </p>

      <p class="page-section-subheader">
        So I decided to do something about it and give people like me a voice. While I trained as a
        Therapist my husband and I started a small support group which has now evolved into a
        Private Practice. I firmly believe counselling offers clients a safe, non judgemental space
        to be heard, understood and valued; which is so vital to recovery.
      </p>

      <h2 class="page-section-header">Professional Memberships</h2>

      <div class="divider"></div>

      <div class="d-flex flex-column align-items-center page-section-subheader">
        <p class="">Joanne Shiels is:</p>

        <ul style="list-style-type: none">
          <li>An Accredited Member of the National Counselling Society (NCS)</li>
          <li>
            A Registered Member of British Association of Counsellors & Psychotherapists (BACP)
          </li>
          <li>A Member of EMDR Association UK & Ireland.</li>
        </ul>
      </div>

      <div class="register-logo-container">
        <img class="register-logo" src="./assets/images/bacp logo.png" alt="BACP Logo" />
        <img class="register-logo" src="./assets/images/mncs-accred-logo.png" alt="MNCS Logo" />
      </div>

      <h2 class="page-section-header">Useful Resources</h2>

      <div class="divider"></div>

      <ul class="resource-list">
        <li class="resource-list-item">
          <p class="name">Aware Defeat Depression</p>
          <p class="phone">0845 120 2961</p>
          <p class="link"><a target="_blank" href="http://www.aware-ni.org">www.aware-ni.org</a></p>
        </li>

        <li class="resource-list-item">
          <p class="name">Action on Postpartum Psychosis</p>
          <p class="phone">020 3322 9900</p>
          <p class="link">
            <a target="_blank" href="http://www.app-network.org">www.app-network.org</a>
          </p>
        </li>

        <li class="resource-list-item">
          <p class="name">Age NI</p>
          <p class="phone">0808 808 7575</p>
          <p class="link">
            <a target="_blank" href="http://www.ageuk.org.uk/northern-ireland"
              >www.ageuk.org.uk/northern-ireland</a
            >
          </p>
        </li>

        <li class="resource-list-item">
          <p class="name">British Association of Counsellors & Psychotherapists</p>
          <p class="link"><a target="_blank" href="http://www.bacp.co.uk">www.bacp.co.uk</a></p>
        </li>

        <li class="resource-list-item">
          <p class="name">Barnardo’s</p>
          <p class="phone">028 9067 2366</p>
          <p class="link">
            <a target="_blank" href="http://www.barnardos.org.uk">www.barnardos.org.uk</a>
          </p>
        </li>

        <li class="resource-list-item">
          <p class="name">Child Bereavement Service</p>
          <p class="phone">028 9066 8333</p>
        </li>

        <li class="resource-list-item">
          <p class="name">Childline</p>
          <p class="phone">0800 1111</p>
          <p class="link">
            <a target="_blank" href="http://www.childline.org.uk">www.childline.org.uk</a>
          </p>
        </li>

        <li class="resource-list-item">
          <p class="name">CLIC</p>
          <p class="phone">028 9072 5780</p>
          <p class="phone">0800 197 0068</p>
          <p class="link">
            <a target="_blank" href="http://www.clicsargent.org.uk">www.clicsargent.org.uk</a>
          </p>
        </li>

        <li class="resource-list-item">
          <p class="name">Contact NI</p>
          <p class="phone">028 9074 4499</p>
          <p class="link">
            <a target="_blank" href="http://www.contactni.org">www.contactni.org</a>
          </p>
        </li>

        <li class="resource-list-item">
          <p class="name">Crisis Counselling</p>
          <p class="phone">0808 808 8000</p>
        </li>

        <li class="resource-list-item">
          <p class="name">CRUSE Bereavement</p>
          <p class="phone">028 2766 6686</p>
        </li>

        <li class="resource-list-item">
          <p class="name">Young People’s Helpline</p>
          <p class="phone">0808 808 1677</p>
          <p class="link"><a target="_blank" href="http://www.cruse.org.uk">www.cruse.org.uk</a></p>
        </li>

        <li class="resource-list-item">
          <p class="name">Headway - The Brain Injury Association</p>
          <p class="phone">0808 808 1677</p>
          <p class="link">
            <a target="_blank" href="http://www.headwayni.org">www.headwayni.org</a>
          </p>
        </li>

        <li class="resource-list-item">
          <p class="name">Help HER - Hyperemesis Education &amp; Research</p>
          <p class="phone">0808 808 1677</p>
          <p class="link">
            <a target="_blank" href="http://www.hyperemesis.org">www.hyperemesis.org</a>
          </p>
        </li>

        <li class="resource-list-item">
          <p class="name">NI Miscarriage Association Helpline</p>
          <p class="phone">028 9336 3384</p>
        </li>

        <li class="resource-list-item">
          <p class="name">NI Stillbirth &amp; Neonatal Death Society (SANDS)</p>
          <p class="phone">077 4099 3450</p>
          <p class="link"><a target="_blank" href="http://www.sandani.org">www.sandani.org</a></p>
        </li>

        <li class="resource-list-item">
          <p class="name">National Counselling Society</p>
          <p class="phone">077 4099 3450</p>
          <p class="link">
            <a target="_blank" href="http://www.nationalcounsellingsociety.org"
              >www.nationalcounsellingsociety.org</a
            >
          </p>
        </li>

        <li class="resource-list-item">
          <p class="name">NSPCC – Child Protection 24/7 helpline</p>
          <p class="phone">0808 800 5000</p>
        </li>

        <li class="resource-list-item">
          <p class="name">Pregnancy Sickness Support</p>
          <p class="phone">024 7638 2020</p>
          <p class="link">
            <a target="_blank" href="http://www.pegnancysicknesssupport.org.uk"
              >www.pegnancysicknesssupport.org.uk</a
            >
          </p>
        </li>

        <li class="resource-list-item">
          <p class="name">The Rowan – Sexual Assault Referral Centre 24/7</p>
          <p class="phone">0800 3894424</p>
          <p class="link"><a target="_blank" href="http://www.therowan.net">www.therowan.net</a></p>
        </li>

        <li class="resource-list-item">
          <p class="name">Victim Support</p>
          <p class="phone">028 9024 4039</p>
          <p class="phone">0845 3030 900</p>
          <p class="link">
            <a target="_blank" href="http://www.victimsupportni.co.uk">www.victimsupportni.co.uk</a>
          </p>
        </li>

        <li class="resource-list-item">
          <p class="name">WAVE Trauma Centre</p>
          <p class="phone">028 2766 9900</p>
          <p class="link">
            <a target="_blank" href="http://www.wavetraumacentre.org.uk"
              >www.wavetraumacentre.org.uk</a
            >
          </p>
        </li>

        <li class="resource-list-item">
          <p class="name">EMDR Association</p>
          <p class="link">
            <a target="_blank" href="http://www.emdrassociation.org.uk"
              >www.emdrassociation.org.uk</a
            >
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
